* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
   
}

.container {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
}

.navbar {
    background: darkcyan;
}
.navbar-brand { color: white !important;}
.navbar-nav>li>a {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-toggle .icon-bar {
    background-color: white;
}
