/* @font-face { font-family: OpenSans-ExtraBold; src: url(../fonts/OpenSans-ExtraBold.ttf); }
@font-face { font-family: OpenSans; src: url(../fonts/OpenSans-Regular.ttf); }
@font-face { font-family: OpenSans-Bold; src: url(../fonts/OpenSans-Bold.ttf); } */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Open Sans";
}
.container {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar {
    background: darkcyan;
    margin-bottom: 0 !important;
}
.navbar-brand { 
    font-family: "Open Sans ExtraBold";
    text-transform: uppercase;
    font-weight: bold;
    color: white !important;
}
.navbar-nav>li>a {
    color: white;
    font-family: "Open Sans ExtraBold";
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-toggle .icon-bar {
    background-color: white;
}

.first-row-text {
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.second-row-text {
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.main-header {
    background-image: url(../images/Image.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 500px;
    padding-bottom: 10%;
    padding-top: 10%;
}

.intro-text {
    color: white;
    text-align: center;
}

h1 { font-family: "Open Sans ExtraBold"; }

.intro-text__h1 {
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 0.3em;
}

.intro-text img { margin: 5%; }

.yellow-btn {
    font-family: "Open Sans";
    font-weight: bold;
    display: block;
    margin: 0 auto;
    width: fit-content;
    padding: 10px;
    color: black;
    background-image: url(../images/Rectangle\ 1.png);
}